{% extends "base.html" %}

{% block title %}
搜索
{% endblock %}

{% block body %}
{% import "_macros.html" as macro %}

<div class="jumbotron" style="background-color:#2c3e50">
	<div class="container">
		<h2 style="color:#E7DBDB">Hello, I am ZRUI!</h2>
		<p class="lead" style="color:#E7DBDB">wanna know more , please click </p>
            <a href="{{ url_for('main.about') }}"><button class="btn btn-danger btn-wide">关于我</button></a>
	</div>
</div>

<div class="container">
<div class="row">
        {% if category_count %}
	<div class="col-md-9">
      {% else %}
      <div class="col-md-12">
      {% endif %}
	{% for post in posts %}
		<article class="article the-font">
			<a href="{{ url_for('main.post',id=post.id) }}"><h2 style="color:#34495E">{{ post.title }}</h2></a>
			<p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ moment(post.time).format('LLL') }}</span></small></p>
      <div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
			<p>{{ post.summary_html|safe }}</p>
			
			<div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
				
                <p><a href="{{ url_for('main.category',id=post.category.id )}}"><span class="label label-default text-left"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ post.category.tag }}</span></a>
        <a href="{{ url_for('main.post',id=post.id )}}" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fire glyphicon " aria-hidden="true"></span>  了解更多</button></a></p>
			</div>
		</article>
	{% endfor %}
	{% if pagination %}
	{{ macro.pagination_widget(pagination,'main.category', id=category.id) }}
      {% endif %}
	</div>
    
</div></div>
</div>




{% endblock %}